<div style="min-width: 100px; border : 1px solid black ; height: 300px;">
    <select (change)="chageDropdown($event)">
        <option value="isPrime">isPrime</option>
        <option value = "isFibonacci">isFibonacci</option>
    </select>
</div>
