<div style="display: grid; grid-template-columns: 200px 1fr 300px;">
  <app-box1 (number)="getNumber($event)"></app-box1>
  <app-box2 (valueDropdown)="getValueDropdown($event)"></app-box2>
  <app-box3 [result]="isValue"></app-box3>
</div>